.german-flag {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.german-flag:hover #line-1 {
  background-color: red;
}

.german-flag:hover #line-2 {
  background-color: white;
}

.german-flag:hover #line-3 {
  background-color: green;
}

#line-1,
#line-2,
#line-3 {
  flex: 1;
}

#line-1 {
  background-color: black;
}

#line-2 {
  background-color: red;
}

#line-3 {
  background-color: yellow;
}
#top-line,
#middle-line,
#bottom-line {
  flex: 1;
}

.french-flag {
  width: 300px;
  height: 200px;
  display: flex;
  padding: 20px;
}

#top-line {
  background-color: blue;
}

#middle-line {
  background-color: white;
}

#bottom-line {
  background-color: red;
}

.french-flag:hover #top-line {
  background-color: green;
}

.french-flag:hover #bottom-line {
  background-color: orange;
}
